@model ChangePass 
<form asp-action="ChangePassword" >
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row gy-3 gy-xxl-4">
        <div class="col-12">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" asp-for="CurrentPassword" class="form-control" id="currentPassword">
            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="col-12">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" asp-for="NewPassword" class="form-control" id="newPassword">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="col-12">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>